
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^gallery/submit.html                                                                                         modules/myalbum/submit.php  [L,NC,QSA]
RewriteRule ^gallery/submit.php                                                                                         modules/myalbum/submit.php  [L,NC,QSA]
RewriteRule ^gallery/ratephoto.php                                                                                         modules/myalbum/ratephoto.php  [L,NC,QSA]
RewriteRule ^gallery/cat,([0-9]+),([0-9]+),([0-9]+),([0-9]+),([a-zA-Z0-9]+).html                                         modules/myalbum/viewcat.php?cid=$1&uid=$2&num=$3&pos=$4&view=$5  [L,NC,QSA]
RewriteRule ^gallery/rss,([0-9]+),([0-9]+),([0-9]+),([0-9]+),([a-zA-Z0-9]+).rss                                            modules/myalbum/rss.php?cid=$1&uid=$2&num=$3&pos=$4&view=$5  [L,NC,QSA]
RewriteRule ^gallery/index,([0-9]+),([0-9]+).html                                                                         modules/myalbum/index.php?num=$1&pos=$2  [L,NC,QSA]
RewriteRule ^gallery/rate,([0-9]+).html                                                                                 modules/myalbum/ratephoto.php?lid=$1  [L,NC,QSA]
RewriteRule ^gallery/top,([0-9]+),([0-9]+).html                                                                         modules/myalbum/topten.php?hit=$1&rate=$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/index.php                                                                                     modules/myalbum/index.php  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/comment_(.*?)                                                                                  modules/myalbum/comment_$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/photo.php(.*?)                                                                                  modules/myalbum/photo.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/viewcat.php(.*?)                                                                              modules/myalbum/viewcat.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/ratephoto.php(.*?)                                                                              modules/myalbum/ratephoto.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/list.tag.php(.*?)                                                                              modules/myalbum/list.tag.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/view.tag.php(.*?)                                                                              modules/myalbum/view.tag.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/submit.php(.*?)                                                                                modules/myalbum/submit.php?$2&title=$1  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/submit,([0-9]+).html                                                                            modules/myalbum/submit.php?cid=$2&title=$1  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/cat,([0-9]+),([0-9]+),([0-9]+),([0-9]+),([a-zA-Z0-9]+).html                                     modules/myalbum/viewcat.php?cid=$2&uid=$3&num=$4&pos=$5&view=$6  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/rss,([0-9]+),([0-9]+),([0-9]+),([0-9]+),([a-zA-Z0-9]+).rss                                     modules/myalbum/rss.php?cid=$2&uid=$3&num=$4&pos=$5&view=$6  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/edit,([0-9]+),([0-9]+).html                                                            modules/myalbum/editphoto.php?lid=$3&cid=$4   [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/rate,([0-9]+),([0-9]+).html                                                            modules/myalbum/ratephoto.php?lid=$3&cid=$4   [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/submit.php?cid=([0-9]+)                                                                modules/myalbum/submit.php?cid=$3&title=$1  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/comment_(.*?)                                                                          modules/myalbum/comment_$3  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/photo.php(.*?)                                                                          modules/myalbum/photo.php$3  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/viewcat.php(.*?)                                                                          modules/myalbum/viewcat.php$3  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/ratephoto.php(.*?)                                                                      modules/myalbum/ratephoto.php$3  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/list.tag.php(.*?)                                                                      modules/myalbum/list.tag.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/view.tag.php(.*?)                                                                      modules/myalbum/view.tag.php$2  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/index.php                                                                                 modules/myalbum/index.php  [L,NC,QSA]
RewriteRule ^gallery/(.*?)/(.*?)/([0-9]+),([0-9]+).html                                                                 modules/myalbum/photo.php?lid=$3&cid=$4  [L,NC,QSA]
RewriteRule ^gallery/(.*?)                                                                                                 modules/myalbum/$1  [L,NC,QSA]
